<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>Socks5BalancerAsio PerState</title>
    <style type="text/css">
        th {
            border: black 0 dashed;
            border-left-width: 1px;
            border-bottom: lightslategrey 1px solid;
        }

        td {
            border: lightslategrey 1px solid;
            border-right-width: 0;
            border-top-width: 0;
        }

        tr:hover {
            background-color: lightblue;
        }

        tfoot > tr:hover {
            background-color: inherit;
        }

        .string-pad {
            margin: 0 0.5em 0 0.5em;
        }

        .table-info-cell {
            border: blueviolet 2px solid;
            margin: 0.25em 0.5em;
            padding: 0.2em 0;
        }

        .opacity_01 {
            opacity: 0.1;
        }

        .text-light {
            font-weight: normal;
            font-style: italic;
        }

        .split-table-header thead tr:last-child th:not(:last-child) {
            border-bottom: black 2px solid;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.26.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.26.0/locale/zh-cn.js"></script>
</head>
<body>
<div id="body">
    <a href="." target="_blank">home</a>
    <br/>
    <br/>
    <label>
        backend:
        <input class="string-pad" name="backend" v-model="backend"/>
    </label>
    <button v-on:click="flush">Flush</button>
    <br/>
    ---------------------------------------------------------------------------------------------
    <br/>
    <table style="border: black 3px dashed;" class="split-table-header">
        <thead>
        <tr>
            <th colspan="15" v-bind:colspan="dataTable.h.length+3"
                style="text-align: center;"
            >
                <template v-if="targetMode==='client'">
                    Client <span style="font-weight: normal;color: blueviolet;">{{target}}</span> Table
                </template>
                <template v-else-if="targetMode==='listen'">
                    Listen <span style="font-weight: normal;color: blueviolet;">{{target}}</span> Table
                </template>
            </th>
        </tr>
        <tr>
            <th style="border-left-width: 0;" rowspan="5">
                No. <br> ↓
            </th>
            <th rowspan="5">
                <template v-if="targetMode==='client'">
                    Server →<br>
                    <br>
                    <hr style="transform: rotate(30deg);border: 1px dashed;">
                    <br>
                    Listen <br> ↓
                </template>
                <template v-else-if="targetMode==='listen'">
                    Server →<br>
                    <br>
                    <hr style="transform: rotate(30deg);border: 1px dashed;">
                    <br>
                    Client <br> ↓
                </template>
            </th>
            <template v-for="h in dataTable.h">
                <th>{{h.index}}</th>
                <!--        <th></th>-->
            </template>
            <th class="text-light">
                index
            </th>
        </tr>
        <tr>
            <template v-for="h in dataTable.h">
                <th>{{h.name}}</th>
                <!--        <th></th>-->
            </template>
            <th class="text-light">
                name
            </th>
        </tr>
        <tr>
            <template v-for="h in dataTable.h">
                <th v-if="h.isWork==='true'" style="color: green;">{{h.isWork}}</th>
                <th v-else="" style="color: red;">{{h.isWork}}</th>
                <!--        <th></th>-->
            </template>
            <th class="text-light">
                work
            </th>
        </tr>
        <tr>
            <template v-for="h in dataTable.h">
                <th v-bind:style="{color:(h.count===0?'darkgrey':'inherit')}">
                    {{h.count}}
                </th>
                <!--        <th></th>-->
            </template>
            <th class="text-light">
                count
            </th>
        </tr>
        <tr>
            <template v-for="h in dataTable.h">
                <th>
                    <a href="javascript:void(0)"
                       v-on:click="sendCommand(
                       '/op?_targetMode=' + targetMode
                       + '&endAllConnect=2'
                       + '&_target=' + target
                       + '&_upstream=' + h.index)"
                    >×</a>
                </th>
                <!--        <th></th>-->
            </template>
            <th class="text-light">
                close
            </th>
        </tr>
        </thead>
        <tbody>

        <template v-for="(r,i) in dataTable.r">
            <tr>
                <td style="text-align: center;">{{i}}</td>
                <td>
                    <template v-if="targetMode==='client'">{{r.ListenEnd}}</template>
                    <template v-else-if="targetMode==='listen'">{{r.ClientEndpoint}}</template>
                </td>
                <template v-for="h in dataTable.h">
                    <td v-if="h.index===r.serverIndex" style="text-align: center;">√</td>
                    <td v-else="">&emsp;</td>
                </template>
                <td style="text-align: center;">
                    <a href="javascript:void(0)"
                    >×</a>
                </td>
            </tr>
        </template>

        </tbody>
        <tfoot>
        <tr>
            <td colspan="15" v-bind:colspan="dataTable.h.length+3">

            </td>
        </tr>
        </tfoot>
    </table>
    ---------------------------------------------------------------------------------------------
    <br/>
    <div>
        <button v-on:click="ServerJsonInfo_Show=!ServerJsonInfo_Show">
            click to show detail
        </button>
        <pre v-show="ServerJsonInfo_Show">{{ JSON.stringify(ServerJsonInfo, null, 2) }}</pre>
    </div>
</div>

<script>

    function arrayOrEmpty(a) {
        return _.isArray(a) ? a : [];
    }

    function getSearchParams(key) {
        var q = (new URL(document.location)).searchParams;
        return q.get(key);
    }

    function setSearchParams(key, value) {
        var newQ = (new URL(document.location)).searchParams;
        newQ.set(key, value);
        window.history.pushState(null, null, '?' + newQ.toString());
    }

    function tryGetBackendConfigFromServer() {
        fetch('backend', {
            credentials: 'omit'
        }).then(function (T) {
            if (T.ok) {
                return T.json();
            }
            return Promise.reject(T);
        }).then(function (T) {
            var s = getSearchParams('backend');
            console.log('getSearchParams(\'backend\'):', s);
            if (s) {
                setSearchParams('backend', s);
                return;
            } else {
                console.log('tryGetBackendConfigFromServer T:', T);
                var host = _.get(T, 'host', defaultBackendHost);
                var port = _.get(T, 'port', defaultBackendPort);
                if (!(_.isString(host) && host.length > 0)) {
                    host = document.location.hostname;
                }
                if (_.isString(port)) {
                    port = _.parseInt(port);
                }
                if (!(port > 0 && port < 65536)) {
                    port = defaultBackendPort;
                }
                console.log('tryGetBackendConfigFromServer [host, port]:', [host, port]);
                setSearchParams('backend', host + ':' + port);
                return;
            }
        }).catch(function (e) {
            console.warn(e);
            var s = getSearchParams('backend');
            if (s) {
                setSearchParams('backend', s);
            } else {
                setSearchParams('backend', defaultBackendHost + ':' + defaultBackendPort);
            }
        }).then(function () {
            app.flush();
        })
    }

    var defaultBackendHost = "127.0.0.1";
    var defaultBackendPort = 5010;

    moment.locale('zh-cn');


    var app = new Vue({
        el: '#body',
        data: {
            ServerJsonInfo_Show: false,
            get backend() {
                var s = getSearchParams('backend');
                if (s) {
                    return s;
                } else {
                    // setSearchParams('backend', defaultBackendHost + ':' + defaultBackendPort);
                    return defaultBackendHost + ':' + defaultBackendPort;
                }
            },
            set backend(s) {
                setSearchParams('backend', s);
            },
            get targetMode() {
                return getSearchParams('targetMode');
            },
            get target() {
                return getSearchParams('target');
            },
            InternetState: {
                isOk: false,
                error: undefined,
            },
            ServerJsonInfo: {},
            BaseInfo: {},
            UpstreamPool: [],
            UpstreamIndex: [],
            ClientIndex: [],
            ListenIndex: [],
            dataRef: [],
            dataTable: {
                // header
                // server index,name
                h: [],
                // footer
                f: [],
                // row
                r: [],
            }
        },
        computed: {},
        methods: {
            flush: function () {
                const targetMode = getSearchParams('targetMode');
                let qPath = '';
                switch (targetMode) {
                    case 'client':
                        qPath = 'clientInfo';
                        break;
                    case 'listen':
                        qPath = 'listenInfo';
                        break;
                    default:
                        app.InternetState.isOk = false;
                        app.InternetState.error = undefined;
                        return;
                }
                const target = getSearchParams('target');
                fetch('http://' + app.backend + '/' + qPath + '?targetMode=' + targetMode + '&target=' + target, {
                    credentials: 'omit'
                }).then(function (T) {
                    if (T.ok) {
                        return T.json();
                    }
                    return Promise.reject(T);
                }).then(function (T) {
                    console.log(T);
                    if (
                        _.has(T, 'UpstreamPool') &&
                        _.has(T, 'UpstreamIndex') &&
                        (targetMode !== 'client' || _.has(T, 'ClientIndex')) &&
                        (targetMode !== 'listen' || _.has(T, 'ListenIndex')) &&
                        _.has(T, 'BaseInfo') &&
                        _.isObject(T.BaseInfo) &&
                        _.isArray(T.UpstreamIndex) &&
                        _.isArray(T.UpstreamPool)
                    ) {
                        app.ServerJsonInfo = T;

                        app.BaseInfo = T.BaseInfo;
                        app.UpstreamPool = arrayOrEmpty(T.UpstreamPool);
                        app.UpstreamIndex = arrayOrEmpty(T.UpstreamIndex);
                        app.ClientIndex = arrayOrEmpty(T.ClientIndex);
                        app.ListenIndex = arrayOrEmpty(T.ListenIndex);

                        app.dataRef = undefined;

                        switch (targetMode) {
                            case 'client':
                                app.dataRef = app.ClientIndex;
                                break;
                            case 'listen':
                                app.dataRef = app.ListenIndex;
                                break;
                            default:
                                break;
                        }

                        if (app.dataRef) {
                            // process data
                            app.dataTable = {
                                // header
                                // server index,name
                                h: app.UpstreamPool.map(T => {
                                    return {
                                        index: T.index,
                                        name: T.name,
                                        isWork: T.isWork,
                                        count: app.dataRef.reduce(function (acc, r, i) {
                                            if (T.index === r.serverIndex) {
                                                ++acc;
                                            }
                                            return acc;
                                        }, 0)
                                    };
                                }),
                                // footer
                                f: [],
                                // row
                                r: app.dataRef,
                            };

                        }

                        app.InternetState.isOk = true;
                        app.InternetState.error = undefined;
                    }
                }).then(function () {
                    console.log(app);
                }).catch(function (e) {
                    console.error(e);
                    app.InternetState.isOk = false;
                    app.InternetState.error = e;
                });
            },
            sendCommand: function (cmd) {
                fetch('http://' + app.backend + cmd, {
                    credentials: 'omit'
                }).then(function (T) {
                    if (T.ok) {
                        return T;
                    }
                    return Promise.reject(T);
                }).catch(function (e) {
                    console.error(e);
                }).then(function () {
                    app.flush();
                });
            },
        }
    });
    tryGetBackendConfigFromServer();
</script>
</body>
</html>