<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <title>Socks5BalancerAsio</title>
    <style type="text/css">
        th {
            border: black 0 dashed;
            border-left-width: 1px;
            border-bottom: lightslategrey 1px solid;
        }

        td {
            border: lightslategrey 1px solid;
            border-right-width: 0;
            border-top-width: 0;
        }

        tr:hover {
            background-color: lightblue;
        }

        tfoot > tr:hover {
            background-color: inherit;
        }

        .string-pad {
            margin: 0 0.5em 0 0.5em;
        }

        .table-info-cell {
            border: blueviolet 2px solid;
            margin: 0.25em 0.5em;
            padding: 0.2em 0;
        }

        .opacity_01 {
            opacity: 0.1;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.26.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.26.0/locale/zh-cn.js"></script>
</head>
<body>
<div id="body">
    now running connect: <span class="string-pad">{{ allConnectCount }}</span>
    <br/>
    now rule: <span class="string-pad">{{ rule }}</span>
    <br/>
    <form action="/op" method="get" target="_self">
        <select name="newRule" v-model="newRule">
            <template v-for="u in UpstreamSelectRuleList.filter(T=>T!=='inherit')">
                <option v-if="u===rule" v-bind:value="u" selected>{{ u }}</option>
                <option v-else v-bind:value="u">{{ u }}</option>
            </template>
        </select>
        <input type="button" value="Change It"
               v-on:click="sendCommand('/op?newRule=' + newRule)"
        />
    </form>
    <label>
        backend:
        <input class="string-pad" name="backend" v-model="backend"/>
    </label>
    <button v-on:click="flush">Flush</button>
    <br/>
    <template v-if="!upstreamPool.find(function(u) {
      return u.isWork==='true';
    }) && upstreamPool.length>0">
        <h3 style="color: red">Warning: we don't have Usable Server !!! </h3>
        <br/>
    </template>
    <template v-if="upstreamPool.length===0&&InternetState.isOk">
        <h3 style="color: rebeccapurple; padding: 0 1em;">No Server ...</h3>
    </template>
    <template v-if="!InternetState.isOk">
        <h3 style="color: palevioletred; padding: 0 1em;">No Data Come From Server.</h3>
        <div style="color: orange;"
             v-if="!!InternetState.error">
            {{InternetState.error.message}}
        </div>
    </template>
    <template v-if="disableConnectTest">
        <div style="color: orangered; padding-top: 1em;">Now Running On [DisableConnectTest] Mode.</div>
    </template>
    ---------------------------------------------------------------------------------------------
    <br/>
    <table style="border: black 3px dashed;">
        <thead>
        <tr>
            <th style="border-left-width: 0;">No.</th>
            <th>Host:Port</th>
            <th>name</th>
            <th>online</th>
            <th v-if="!disableConnectTest">work</th>
            <th>run</th>
            <th>lastTCPCheckTime</th>
            <th v-if="!disableConnectTest">lastConnectCheckTime</th>
            <th>ManualDisable</th>
            <th>Usable</th>
            <th>Close Connect</th>
            <th>Select</th>
            <th v-if="!disableConnectTest">Check</th>
            <th>data</th>
            <th>speedMax</th>
            <th>speed</th>
            <!--        <th></th>-->
        </tr>
        </thead>
        <tbody>

        <tr v-for="u in upstreamPool">
            <td style="border-left-width: 0;">{{_.parseInt(u.index) + 1}}.</td>
            <td>{{u.host}}:{{u.port}}</td>
            <td>{{u.name}}</td>
            <td>
                <span style="color: gray" v-if="u.lastOnlineTime==='<empty>'">Unknown</span>
                <span style="color: green" v-else-if="u.isOffline==='false'">True</span>
                <span style="color: red" v-else>False</span>
            </td>
            <td v-if="!disableConnectTest">
                <span style="color: gray" v-if="u.lastConnectTime==='<empty>'">Unknown</span>
                <span style="color: green" v-else-if="u.lastConnectFailed==='false'">True</span>
                <span style="color: red" v-else>False</span>
            </td>
            <td>{{u.sessionsCount}} <span class="opacity_01">/ {{u.connectCount}} / {{u.connectCount2}}</span></td>
            <td>{{u.lastOnlineTime}}</td>
            <td v-if="!disableConnectTest">{{u.lastConnectTime}}</td>
            <td>
                <template v-if="u.isManualDisable==='true'">
                    <span style="color: red">Disabled</span>
                    <a href="javascript:void(0)"
                       v-on:click="sendCommand('/op?enable=' + _.parseInt(u.index))"
                    >
                        Enable It
                    </a>
                </template>
                <template v-else>
                    <span style="color: green">Enabled</span>
                    <a href="javascript:void(0)"
                       v-on:click="sendCommand('/op?disable=' + _.parseInt(u.index))"
                    >
                        Disable
                    </a>
                </template>
            </td>
            <td>
                <span style="color: green" v-if="u.isWork==='true'">True</span>
                <span style="color: red" v-else-if="u.isWork==='false'">False</span>
            </td>
            <td>
                <a href="javascript:void(0)"
                   v-on:click="sendCommand('/op?endConnectOnServer=' + _.parseInt(u.index))"
                >
                    Close Connect
                </a>
            </td>
            <td>
                <a href="javascript:void(0)"
                   v-on:click="sendCommand('/op?forceNowUseServer=' + _.parseInt(u.index))"
                >
                    Use Now
                </a>
            </td>
            <td v-if="!disableConnectTest">
                <a href="javascript:void(0)"
                   v-on:click="sendCommand('/op?forceCheckServer=' + _.parseInt(u.index))"
                >
                    Check Now
                </a>
            </td>
            <td>{{formatData(u)}}</td>
            <td>{{formatSpeedMax(u)}}</td>
            <td>{{formatSpeed(u)}}</td>
            <!--            <td></td>-->
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <td colspan="15" v-bind:colspan="15+(disableConnectTest?-2:0)">
                <a href="javascript:void(0)"
                   v-on:click="sendCommand('/op?cleanAllCheckState=1')"
                   style="margin-right: 1em;"
                >
                    Clean Check State
                </a>
                <a href="javascript:void(0)"
                   v-on:click="sendCommand('/op?endAllConnect=1')"
                   style="margin-right: 1em;"
                >
                    Force Close All Connect
                </a>
                <a href="javascript:void(0)"
                   v-if="!disableConnectTest"
                   v-on:click="sendCommand('/op?forceCheckAllServer=1')"
                   style="margin-right: 1em;"
                >
                    Force Check All Now
                </a>
                <span class="table-info-cell">
                ↑ {{dataCount2String(totalUp)}}
                ↓ {{dataCount2String(totalDown)}}
                </span>
                <span class="table-info-cell">
                ↑Max {{speed2String(totalUpSpeedMax)}}
                ↓Max {{speed2String(totalDownSpeedMax)}}
                </span>
                <span class="table-info-cell">
                ↑ {{speed2String(totalUpSpeed)}}
                ↓ {{speed2String(totalDownSpeed)}}
                </span>
            </td>
        </tr>
        </tfoot>
    </table>
    ---------------------------------------------------------------------------------------------
    <br/>
    lastConnectServer:
    <span class="string-pad">
        {{ (lastConnectServer?(lastConnectServer.host+':'+lastConnectServer.port):'Undefined') }}
    </span>
    <br/>
    lastUseUpstreamIndex: <span class="string-pad">{{ _.parseInt(lastUseUpstreamIndex) + 1 }}</span>
    <br/>
    Tcp Relay Mode: <span class="string-pad">{{ traditionTcpRelay?'Tradition Mode':'Mixed Mode' }}</span>
    <br/>
    <br/>
    now time: <span class="string-pad">{{ nowTime }}</span>
    <br/>
    startTime: <span class="string-pad">{{ startTime }}</span>
    <br/>
    runTime:
    <span class="string-pad">{{ runTimeString }}</span>
    <span class="string-pad">{{ runTimeString2 }}</span>
    <span class="string-pad">{{ runTime }} ms</span>
    <br/>
    <br/>
    lastConnectComeTime: <span class="string-pad">{{ lastConnectComeTime }}</span>
    <br/>
    lastConnectComeTime:
    <span class="string-pad">{{ lastConnectComeTimeAgoString }}</span>
    <span class="string-pad">{{ lastConnectComeTimeAgoString2 }}</span>
    <span class="string-pad">{{ lastConnectComeTimeAgo }} ms</span>
    <br/>
    isSleeping:
    <span v-if="lastConnectComeTimeAgo>sleepTime">sleeping</span>
    <span v-else="">running</span>
    <br/>
    <br/>
    listen On: <span class="string-pad">{{ listenOn }}</span>
    <br/>
    ---------------------------------------------------------------------------------------------
    <br/>
    <table style="border: black 3px dashed;">
        <thead>
        <tr>
            <th colspan="11" style="text-align: center;">
                Client Connect Info
            </th>
        </tr>
        <tr>
            <th>Host</th>
            <th>lastServer</th>
            <th>newServer</th>
            <th>nowRule</th>
            <th>newRule</th>
            <th>running</th>
            <th>closeConnect</th>
            <th>data</th>
            <th>speedMax</th>
            <th>speed</th>
            <th>detail</th>
            <!--        <th></th>-->
        </tr>
        </thead>
        <tbody>

        <tr v-for="u in ClientIndex">
            <td>{{u.index}}</td>
            <td>{{u.lastUseUpstreamIndex+1}}</td>
            <td>
                <select name="newRule" v-model="u.lastUseUpstreamIndex"
                        v-on:change="sendCommand(
                        '/op?_targetMode=client'
                        + '&forceNowUseServer=' + (u.lastUseUpstreamIndex)
                        + '&_target=' + u.index)"
                >
                    <template v-for="it in upstreamPool">
                        <option v-if="it.index===u.lastUseUpstreamIndex"
                                v-bind:value="it.index" selected>
                            {{ it.index+1 }}
                        </option>
                        <option v-else v-bind:value="it.index">{{ it.index+1 }}</option>
                    </template>
                </select>
            </td>
            <td>{{u.rule}}</td>
            <td>
                <select name="newRule" v-model="u.rule"
                        v-on:change="sendCommand('/op?_targetMode=client&newRule=' + u.rule+'&_target=' + u.index)"
                >
                    <template v-for="it in UpstreamSelectRuleList">
                        <option v-if="it===u.rule" v-bind:value="it" selected>{{ it }}</option>
                        <option v-else v-bind:value="it">{{ it }}</option>
                    </template>
                </select>
            </td>
            <td>{{u.sessionsCount}} / <span class="opacity_01">{{u.connectCount}}</span></td>
            <td>
                <a href="javascript:void(0)"
                   v-on:click="sendCommand(
                   '/op?_targetMode=client'
                   + '&endAllConnect=0'
                   + '&_target=' + u.index)"
                   style="margin-right: 1em;"
                >
                    CloseConnect
                </a>
            </td>
            <td>{{formatData(u)}}</td>
            <td>{{formatSpeedMax(u)}}</td>
            <td>{{formatSpeed(u)}}</td>
            <td>
                <a target="_blank"
                   v-bind:href="'perState.html?backend='+backend+'&targetMode=client&target='+u.index"
                >detail</a>
            </td>
            <!--            <td></td>-->
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <td colspan="11">
                <span class="table-info-cell">
                ↑ {{dataCount2String(reduceField(ClientIndex, 'byteUpLast'))}}
                ↓ {{dataCount2String(reduceField(ClientIndex, 'byteDownLast'))}}
                </span>
                <span class="table-info-cell">
                ↑Max {{speed2String(reduceField(ClientIndex, 'byteUpChangeMax'))}}
                ↓Max {{speed2String(reduceField(ClientIndex, 'byteDownChangeMax'))}}
                </span>
                <span class="table-info-cell">
                ↑ {{speed2String(reduceField(ClientIndex, 'byteUpChange'))}}
                ↓ {{speed2String(reduceField(ClientIndex, 'byteDownChange'))}}
                </span>
            </td>
        </tr>
        </tfoot>
    </table>
    <br/>

    <table style="border: black 3px dashed;">
        <thead>
        <tr>
            <th colspan="11" style="text-align: center;">
                Listen Port Info
            </th>
        </tr>
        <tr>
            <th>Host</th>
            <th>lastServer</th>
            <th>newServer</th>
            <th>nowRule</th>
            <th>newRule</th>
            <th>running</th>
            <th>closeConnect</th>
            <th>data</th>
            <th>speedMax</th>
            <th>speed</th>
            <th>detail</th>
            <!--        <th></th>-->
        </tr>
        </thead>
        <tbody>

        <tr v-for="u in ListenIndex">
            <td>{{u.index}}</td>
            <td>{{u.lastUseUpstreamIndex+1}}</td>
            <td>
                <select name="newRule" v-model="u.lastUseUpstreamIndex"
                        v-on:change="sendCommand(
                        '/op?_targetMode=listen'
                        + '&forceNowUseServer=' + (u.lastUseUpstreamIndex)
                        + '&_target=' + u.index)"
                >
                    <template v-for="it in upstreamPool">
                        <option v-if="it.index===u.lastUseUpstreamIndex"
                                v-bind:value="it.index" selected>
                            {{ it.index+1 }}
                        </option>
                        <option v-else v-bind:value="it.index">{{ it.index+1 }}</option>
                    </template>
                </select>
            </td>
            <td>{{u.rule}}</td>
            <td>
                <select name="newRule" v-model="u.rule"
                        v-on:change="sendCommand('/op?_targetMode=listen&newRule=' + u.rule+'&_target=' + u.index)"
                >
                    <template v-for="it in UpstreamSelectRuleList">
                        <option v-if="it===u.rule" v-bind:value="it" selected>{{ it }}</option>
                        <option v-else v-bind:value="it">{{ it }}</option>
                    </template>
                </select>
            </td>
            <td>{{u.sessionsCount}} / <span class="opacity_01">{{u.connectCount}}</span></td>
            <td>
                <a href="javascript:void(0)"
                   v-on:click="sendCommand(
                   '/op?_targetMode=client'
                   + '&endAllConnect=0'
                   + '&_target=' + u.index)"
                   style="margin-right: 1em;"
                >
                    CloseConnect
                </a>
            </td>
            <td>{{formatData(u)}}</td>
            <td>{{formatSpeedMax(u)}}</td>
            <td>{{formatSpeed(u)}}</td>
            <td>
                <a target="_blank"
                   v-bind:href="'perState.html?backend='+backend+'&targetMode=listen&target='+u.index"
                >detail</a>
            </td>
            <!--            <td></td>-->
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <td colspan="11">
                <span class="table-info-cell">
                ↑ {{dataCount2String(reduceField(ListenIndex, 'byteUpLast'))}}
                ↓ {{dataCount2String(reduceField(ListenIndex, 'byteDownLast'))}}
                </span>
                <span class="table-info-cell">
                ↑Max {{speed2String(reduceField(ListenIndex, 'byteUpChangeMax'))}}
                ↓Max {{speed2String(reduceField(ListenIndex, 'byteDownChangeMax'))}}
                </span>
                <span class="table-info-cell">
                ↑ {{speed2String(reduceField(ListenIndex, 'byteUpChange'))}}
                ↓ {{speed2String(reduceField(ListenIndex, 'byteDownChange'))}}
                </span>
            </td>
        </tr>
        </tfoot>
    </table>
    <br/>
    ---------------------------------------------------------------------------------------------
    <br/>
    <h5>Fast Issue Resolve</h5>
    <ul>
        <li>Web page Open very Sloooow :&emsp;
            <a href="javascript:void(0)"
               v-on:click="sendCommand('/op?endAllConnect=1')">
                Force Close All Connect
            </a></li>
        <li v-if="!disableConnectTest">Seems like Server State not update :&emsp;
            <a href="javascript:void(0)"
               v-on:click="sendCommand('/op?forceCheckAllServer=1')">
                Force Check All Now
            </a></li>
        <li>I Want To Disable All Server :&emsp;
            <a href="javascript:void(0)"
               v-on:click="sendCommand('/op?disableAllServer=1')">
                Disable All Server
            </a></li>
        <li>I Want To Enable All Server :&emsp;
            <a href="javascript:void(0)"
               v-on:click="sendCommand('/op?enableAllServer=1')">
                Enable All Server
            </a></li>
    </ul>
    <br/>
    ---------------------------------------------------------------------------------------------
    <br/>
    <div>
        <button v-on:click="ServerJsonInfo_Show=!ServerJsonInfo_Show">
            click to show detail
        </button>
        <pre v-show="ServerJsonInfo_Show">{{ JSON.stringify(ServerJsonInfo, null, 2) }}</pre>
    </div>
</div>

<script>
    // https://github.com/moment/moment/issues/463#issuecomment-552498641
    function formatInt(int) {
        if (int < 10) {
            return `0${int}`;
        }
        return `${int}`;
    }

    function formatDuration(time) {
        const seconds = moment.duration(time).seconds();
        const minutes = moment.duration(time).minutes();
        const hours = moment.duration(time).hours();
        if (hours > 0) {
            return `${formatInt(hours)}:${formatInt(minutes)}:${formatInt(seconds)}`;
        }
        if (minutes > 0) {
            return `${formatInt(minutes)}:${formatInt(seconds)}`;
        }
        return `00:${formatInt(seconds)}`;
    }

    function formatNumber2FixedLength(n) {
        return n.toFixed(3);
    }

    function speed2String(s) {
        if (s < 1024) {
            return '' + s + 'Byte/s';
        } else if (s < Math.pow(1024, 2)) {
            return '' + formatNumber2FixedLength(s / Math.pow(1024, 1)) + 'KB/s';
        } else if (s < Math.pow(1024, 3)) {
            return '' + formatNumber2FixedLength(s / Math.pow(1024, 2)) + 'MB/s';
        } else if (s < Math.pow(1024, 4)) {
            return '' + formatNumber2FixedLength(s / Math.pow(1024, 3)) + 'GB/s';
        } else if (s < Math.pow(1024, 5)) {
            return '' + formatNumber2FixedLength(s / Math.pow(1024, 4)) + 'TB/s';
        } else if (s < Math.pow(1024, 6)) {
            return '' + formatNumber2FixedLength(s / Math.pow(1024, 5)) + 'EB/s';
        }
    }

    function dataCount2String(d) {
        if (d < 1024) {
            return '' + d + 'Byte';
        } else if (d < Math.pow(1024, 2)) {
            return '' + formatNumber2FixedLength(d / Math.pow(1024, 1)) + 'KB';
        } else if (d < Math.pow(1024, 3)) {
            return '' + formatNumber2FixedLength(d / Math.pow(1024, 2)) + 'MB';
        } else if (d < Math.pow(1024, 4)) {
            return '' + formatNumber2FixedLength(d / Math.pow(1024, 3)) + 'GB';
        } else if (d < Math.pow(1024, 5)) {
            return '' + formatNumber2FixedLength(d / Math.pow(1024, 4)) + 'TB';
        } else if (d < Math.pow(1024, 6)) {
            return '' + formatNumber2FixedLength(d / Math.pow(1024, 5)) + 'EB';
        }
    }

    function formatSpeedMax(u) {
        if (u.byteInfo === 'true') {
            return '↑' + speed2String(_.parseInt(u.byteUpChangeMax)) + ' ↓' + speed2String(_.parseInt(u.byteDownChangeMax));
        } else {
            return '↑' + speed2String(0) + ' ↓' + speed2String(0);
        }
    }

    function formatSpeed(u) {
        if (u.byteInfo === 'true') {
            return '↑' + speed2String(_.parseInt(u.byteUpChange)) + ' ↓' + speed2String(_.parseInt(u.byteDownChange));
        } else {
            return '↑' + speed2String(0) + ' ↓' + speed2String(0);
        }
    }

    function formatData(u) {
        if (u.byteInfo === 'true') {
            return '↑' + dataCount2String(_.parseInt(u.byteUpLast)) + ' ↓' + dataCount2String(_.parseInt(u.byteDownLast));
        } else {
            return '↑' + dataCount2String(0) + ' ↓' + dataCount2String(0);
        }
    }

    function reduceField(T, F) {
        return _.reduce(T, function (acc, n) {
            return acc + _.parseInt(_.get(n, F, "0"));
        }, 0);
    }

    function getSearchParams(key) {
        var q = (new URL(document.location)).searchParams;
        return q.get(key);
    }

    function setSearchParams(key, value) {
        var newQ = (new URL(document.location)).searchParams;
        newQ.set(key, value);
        window.history.pushState(null, null, '?' + newQ.toString());
    }

    function tryGetBackendConfigFromServer() {
        fetch('backend', {
            credentials: 'omit'
        }).then(function (T) {
            if (T.ok) {
                return T.json();
            }
            return Promise.reject(T);
        }).then(function (T) {
            var s = getSearchParams('backend');
            console.log('getSearchParams(\'backend\'):', s);
            if (s) {
                setSearchParams('backend', s);
                return;
            } else {
                console.log('tryGetBackendConfigFromServer T:', T);
                var host = _.get(T, 'host', defaultBackendHost);
                var port = _.get(T, 'port', defaultBackendPort);
                if (!(_.isString(host) && host.length > 0)) {
                    host = document.location.hostname;
                }
                if (_.isString(port)) {
                    port = _.parseInt(port);
                }
                if (!(port > 0 && port < 65536)) {
                    port = defaultBackendPort;
                }
                console.log('tryGetBackendConfigFromServer [host, port]:', [host, port]);
                setSearchParams('backend', host + ':' + port);
                return;
            }
        }).catch(function (e) {
            console.warn(e);
            var s = getSearchParams('backend');
            if (s) {
                setSearchParams('backend', s);
            } else {
                setSearchParams('backend', defaultBackendHost + ':' + defaultBackendPort);
            }
        }).then(function () {
            app.flush();
        })
    }

    var defaultBackendHost = "127.0.0.1";
    var defaultBackendPort = 5010;

    moment.locale('zh-cn');

    var app = new Vue({
        el: '#body',
        data: {
            ServerJsonInfo_Show: false,
            test: 11244,
            ServerJsonInfo: {},
            upstreamPool: [],
            //monitorCenter: refMonitorCenter(),
            //formatTime: (m: moment.Moment | undefined) => {
            //  return m ? m.format('ll HH:mm:ss') : 'undefined';
            //},
            rule: "",
            nowTime: "",
            startTime: "",
            runTime: 0,
            runTimeString: "",
            runTimeString2: "",
            lastConnectComeTime: "",
            lastConnectComeTimeAgo: 0,
            lastConnectComeTimeAgoString: "",
            lastConnectComeTimeAgoString2: "",
            listenOn: "",
            haveUsableServer: true,
            UpstreamSelectRuleList: [],
            lastUseUpstreamIndex: 0,
            lastConnectServerIndex: 0,
            lastConnectServer: {},
            //isWork: checkServer,
            //speedArray: speedArray,
            //dataArray: dataArray,
            newRule: "",
            allConnectCount: 0,
            totalUp: 0,
            disableConnectTest: false,
            traditionTcpRelay: false,
            totalDown: 0,
            totalUpSpeed: 0,
            totalDownSpeed: 0,
            totalUpSpeedMax: 0,
            totalDownSpeedMax: 0,
            sleepTime: 0,
            UpstreamIndex: [],
            ClientIndex: [],
            ListenIndex: [],
            get backend() {
                var s = getSearchParams('backend');
                if (s) {
                    return s;
                } else {
                    // setSearchParams('backend', defaultBackendHost + ':' + defaultBackendPort);
                    return defaultBackendHost + ':' + defaultBackendPort;
                }
            },
            set backend(s) {
                setSearchParams('backend', s);
            },
            InternetState: {
                isOk: false,
                error: undefined,
            }
        },
        computed: {},
        methods: {
            formatSpeedMax: formatSpeedMax,
            formatSpeed: formatSpeed,
            formatData: formatData,
            speed2String: speed2String,
            dataCount2String: dataCount2String,
            reduceField: reduceField,
            flush: function () {
                fetch('http://' + app.backend + '/', {
                    credentials: 'omit'
                }).then(function (T) {
                    if (T.ok) {
                        return T.json();
                    }
                    return Promise.reject(T);
                }).then(function (T) {
                    console.log(T);
                    if (
                        _.has(T, 'pool') &&
                        _.has(T, 'config') &&
                        _.isObject(T.pool) &&
                        _.isArray(T.pool.upstream) &&
                        _.isObject(T.config)
                    ) {
                        app.ServerJsonInfo = T;
                        app.lastUseUpstreamIndex = T.pool.getLastUseUpstreamIndex;
                        if (_.isArray(T.pool.upstream)) {
                            app.upstreamPool = T.pool.upstream;
                        } else {
                            app.upstreamPool = [];
                        }
                        app.upstreamPool = app.upstreamPool.map(N => {
                            N.index = _.parseInt(N.index);
                            return N;
                        })
                        app.UpstreamSelectRuleList = T.RuleEnumList;
                        app.rule = T.nowRule;
                        app.newRule = T.nowRule;
                        app.totalUp = _.reduce(app.upstreamPool, function (acc, n) {
                            return acc + _.parseInt(n.byteUpLast);
                        }, 0);
                        app.totalUp = reduceField(app.upstreamPool, 'byteUpLast');
                        app.totalDown = reduceField(app.upstreamPool, 'byteDownLast');
                        app.totalUpSpeed = reduceField(app.upstreamPool, 'byteUpChange');
                        app.totalDownSpeed = reduceField(app.upstreamPool, 'byteDownChange');
                        app.totalUpSpeedMax = reduceField(app.upstreamPool, 'byteUpChangeMax');
                        app.totalDownSpeedMax = reduceField(app.upstreamPool, 'byteDownChangeMax');

                        app.sleepTime = _.parseInt(_.get(T, 'config.sleepTime', '' + Number.MAX_SAFE_INTEGER));
                        app.nowTime = T.nowTime;

                        app.runTime = T.runTime;
                        app.runTimeString = moment.duration(_.parseInt(T.runTime)).humanize();
                        app.runTimeString2 = formatDuration(_.parseInt(T.runTime));

                        app.startTime = T.startTime;

                        if (_.isArray(T.UpstreamIndex)) {
                            app.UpstreamIndex = T.UpstreamIndex.map(N => {
                                N.byteInfo = 'true';
                                N.index = _.parseInt(N.index);
                                return N;
                            });
                        } else {
                            app.UpstreamIndex = [];
                        }
                        if (_.isArray(T.ClientIndex)) {
                            app.ClientIndex = T.ClientIndex.map(N => {
                                N.byteInfo = 'true';
                                N.lastUseUpstreamIndex = _.parseInt(N.lastUseUpstreamIndex);
                                return N;
                            });
                        } else {
                            app.ClientIndex = [];
                        }
                        if (_.isArray(T.ListenIndex)) {
                            app.ListenIndex = T.ListenIndex.map(N => {
                                N.byteInfo = 'true';
                                N.lastUseUpstreamIndex = _.parseInt(N.lastUseUpstreamIndex);
                                return N;
                            });
                        } else {
                            app.ListenIndex = [];
                        }

                        app.lastConnectComeTime = T.pool.lastConnectComeTime;
                        app.lastConnectComeTimeAgo = _.parseInt(T.pool.lastConnectComeTimeAgo);
                        app.lastConnectComeTimeAgoString = moment.duration(app.lastConnectComeTimeAgo).humanize();
                        app.lastConnectComeTimeAgoString2 = formatDuration(app.lastConnectComeTimeAgo);

                        app.lastConnectServerIndex = _.parseInt(T.lastConnectServerIndex);
                        app.lastConnectServer = app.upstreamPool.find(function (n) {
                            return _.parseInt(n.index) === app.lastConnectServerIndex;
                        });
                        app.listenOn = ' ' + T.config.listenHost + ' : ' + T.config.listenPort;

                        app.allConnectCount = _.reduce(T.pool.upstream, function (acc, T) {
                            return acc + _.parseInt(T.connectCount);
                        }, 0);

                        if (T.config.disableConnectTest === 'true') {
                            app.disableConnectTest = true;
                        }
                        if (T.config.traditionTcpRelay === 'true') {
                            app.traditionTcpRelay = true;
                        }

                        app.InternetState.isOk = true;
                        app.InternetState.error = undefined;
                    }
                }).then(function () {
                    console.log(app);
                }).catch(function (e) {
                    console.error(e);
                    app.InternetState.isOk = false;
                    app.InternetState.error = e;
                });
            },
            sendCommand: function (cmd) {
                fetch('http://' + app.backend + cmd, {
                    credentials: 'omit'
                }).then(function (T) {
                    if (T.ok) {
                        return T;
                    }
                    return Promise.reject(T);
                }).catch(function (e) {
                    console.error(e);
                }).then(function () {
                    app.flush();
                });
            },
        }
    });
    tryGetBackendConfigFromServer();
</script>
</body>
</html>
